.default-button {
    -fx-background-color: #007C99;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 8px 0;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0.3, 0, 2);
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-alignment: center;
    -fx-min-width: 140px;
    -fx-max-width: 140px;
}

.default-button:hover {
    -fx-background-color: #0099bb;
}

.green-button {
    -fx-background-color: #00a835;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 8px 0;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0.3, 0, 2);
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-alignment: center;
    -fx-min-width: 140px;
    -fx-max-width: 140px;
}

.green-button:hover {
    -fx-background-color: #02e84b;
}

.inputField {
    -fx-font-family: 'Courier New';
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-text-fill: black;
    -fx-background-radius: 10;
}

.inputField-error {
    -fx-background-color: rgba(247, 2, 2, 0.7);
}

.yellow-text {
    -fx-fill: yellow;
}